USE [master]
GO
/****** Object:  Database [DBprogram]    Script Date: 01/01/2019 14:15:36 ******/
CREATE DATABASE [DBprogram] ON  PRIMARY 
( NAME = N'DBprogram', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DBprogram.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBprogram_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\DBprogram_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBprogram].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBprogram]
GO
/****** Object:  Table [dbo].[work]    Script Date: 01/01/2019 14:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[work](
	[work_id] [nchar](4) NOT NULL,
	[deparment] [nvarchar](20) NOT NULL,
	[position] [nvarchar](20) NOT NULL,
	[title] [nvarchar](10) NOT NULL,
	[wage] [int] NOT NULL,
	[bonus] [int] NULL,
	[join_time] [date] NOT NULL,
	[work_status] [bit] NOT NULL,
 CONSTRAINT [PK_work] PRIMARY KEY CLUSTERED 
(
	[work_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 01/01/2019 14:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [nchar](10) NOT NULL,
	[password] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rea]    Script Date: 01/01/2019 14:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rea](
	[work_id] [nchar](4) NULL,
	[reason] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[marriage]    Script Date: 01/01/2019 14:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marriage](
	[work_id] [nchar](4) NOT NULL,
	[married] [bit] NOT NULL,
 CONSTRAINT [PK_marriage] PRIMARY KEY CLUSTERED 
(
	[work_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[edu]    Script Date: 01/01/2019 14:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[edu](
	[work_id] [nchar](4) NOT NULL,
	[school_name] [nvarchar](20) NOT NULL,
	[background] [nvarchar](10) NULL,
 CONSTRAINT [PK_edu] PRIMARY KEY CLUSTERED 
(
	[work_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[base]    Script Date: 01/01/2019 14:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[base](
	[work_id] [nchar](4) NOT NULL,
	[name] [nvarchar](10) NOT NULL,
	[age] [int] NOT NULL,
	[sex] [nchar](1) NOT NULL,
 CONSTRAINT [PK_base] PRIMARY KEY CLUSTERED 
(
	[work_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 01/01/2019 14:15:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [nchar](10) NULL,
	[PWD] [varchar](20) NULL,
	[Email] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
